body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.PostTitle {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	margin-top: 0%;
	margin-left: 1%;
}

.PostItem {
	display: flex;
	margin-bottom: 2%;
	padding-bottom: 2%;
	border-bottom: 1px black solid;
}

.Container {
	display: flex;
	flex-wrap: wrap;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 8%;
}

.GridPostItem {
	margin: 5px 10px;
}

.Top {
	display: flex;
}

.ListLink {
	margin-left: 64%;
	margin-top: 1.95%;
	margin-right: 1%;
	text-decoration: none;
}

.ListLink a:hover {
	color: #D3D3D3;
}

.ListLink a {
	text-decoration: none;
}

.GridLink {
	margin-top: 2%;
	text-decoration: none;
}

.GridLink:hover {
	color: #D3D3D3;
}

.OverlayTitle {
	font-size: 1%;
}

.Author {
	
}